@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Toggle Styles */

.show_sidebar {
    width: 0px !important;
    min-width: 0 !important;
    opacity: 0;
    visibility: hidden;
}


/* Sidebar Styles */

.sidebar {
    z-index: 1000;
    position: sticky;
    top: 0;
    height: 100vh;
    background: #37474F;
    overflow: hidden;
    min-width: 230px;
    width: 16vw;
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.sidebar .sidebar_header {
    background-color: #263238;
    font-size: 20px;
    height: 52px;
    display: flex;
    align-items: center;
    padding-left: 10px;

}

.sidebar .sidebar_header a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.sidebar .sidebar_header a:hover {
    color: #fff;
}

.nav {
    margin-top: 10px;
    overflow-y: auto;
    max-height: 90vh;
    min-width: 230px;
}

.nav::-webkit-scrollbar {
    width: 0;
}

.nav .nav-item {
    padding: 0px 5px;
    width: 100%;
    cursor: pointer;
}

.nav .nav-item .nav_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border-bottom: 1px solid #455A64;
    padding: 10px 0px 10px 5px;
    width: 100%;
}

.nav .nav-item a {
    color: #CFD8DC;
    font-size: 16px;
    width: 100%;
    text-decoration: none;
}

.nav .nav-item a i {
    margin-right: 10px;
}

.nav .nav-item .nav_link:hover,
.dropdown li .nav_link:hover {
    border-radius: 5px;
    background-color: #263238 !important;
}

.active {
    border-radius: 5px;
    background-color: #263238 !important;
}

.nav .nav-item .nav_link .arrow {
    color: #CFD8DC;
    transition: .3s ease;
    padding-right: 7px;
}

.rotate .arrow {
    transform: rotate(90deg);
}


.nav .nav-item .dropdown {
    border-bottom: 1px solid #455A64;
    display: none;
    cursor: pointer;
    padding: 6px 10px;
    list-style-type: none;
}

.nav .nav-item .dropdown li a {
    background: none;
    border-bottom: none;
    color: #CFD8DC;
    font-size: 15px;
    padding: 4px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.nav .nav-item .dropdown li a i {
    font-size: normal;
}

.nav-item .dropdown li .nav_link {
    background: none !important;
    font-size: 15px !important;
    padding: 4px !important;
    border-bottom: none !important;
}

.nav-item .dropdown li .dropdown {
    border-bottom: none !important;
}

/* sidebar end */
main {
    flex: 1;
    transition: width .3s ease;
    height: 100vh;
    overflow: hidden;

}

main header {
    background-color: transparent;
    margin-left: 1px;
    font-size: 20px;
    height: 52px;
}



.content {
    overflow-y: auto;
    height: calc(100vh - 52px);
}



::-webkit-scrollbar {
    width: 5px;
    background: #656464;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    cursor: pointer;
}

.box_shadow {
    box-shadow: 0 0 10px -5px black !important;
}


.user .dropdown-menu a {
    font-size: 15px;
    width: 100%;
    display: block;
    color: #263238 !important;
    padding: 8px !important;
    line-height: normal;
    text-decoration: none;
}

.user .dropdown-menu a:hover {
    background-color: #263238 !important;
    color: #fff !important;
}

.user .dropdown-menu a i {
    margin-right: 5px;
}

.user button {
    color: #3b4d57 !important;
    transition: color .3s linear;
    font-size: 17px;
}

.user button:hover {
    color: #202a2f !important;
}

.btn_simple {
    border: 0;
    outline: 0;
    background-color: transparent;
}

.bg-dark-50 {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 0px !important;
    transition: background .3s ease;
}

.bg-dark-50:hover {
    background: rgba(0, 0, 0, 0.25);
}
